<h2>Hello<%= @user.name ? " #{@user.name}" : "" %>!</h2>

<p>Click the link below to sign in. This link expires in 15 minutes.</p>

<p><a href="<%= @url %>">Sign in to RailsKit</a></p>

<p>If you didn't request this, you can safely ignore this email.</p>
